$sub-img-size:80px;

.img-con{
	position: relative;
	width: $sub-img-size;
	height: $sub-img-size;
	float: left;
	margin-right: 10px;
	border: 1px solid #ccc;
	.img{
		width: 100%;
		height: 100%;
		display: block;
	}
	.fa-close{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		height: $sub-img-size;
		line-height: $sub-img-size;
		cursor: pointer;
		display: none;
		font-size: 50px;
		color: #aaa;
		background-color: rgba(0,0,0,.2);
	}
	&:hover{
		.fa-close{
			display: block;
		}
	}
}
.file-upload-con{
	margin-top: 15px;
}